extends layout

block content
  h1= title
  p Welcome to #{title}
  //- p Updating the file while docker is running.
  p Testing automated deployment from github. Hope this works :)
  h2 Payload dump:
  p= value
